---
title: Continuum
description: A curated pocket of sci-fi NFTs stationed on a space habitat.
---
<section class="hero">
	<div class="text-container">
		<h1>Welcome to</h1>
		<div>
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Continuum Flashy Logo" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Naut, Civ, or Posse?</strong></h2>
				<br><p>Become an integral part of Continuum's future.
					<div class="cta button alt"><a href="{{ site.baseurl }}/mint/">Mint</a></div>
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/example.png" alt="Naut Example" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>What is Continuum?</strong></h2><br>
				<p>A curated endeavor focused on the adaptation of a space habitat and it's community. It is a passion project heavily inspired by science fiction, roleplaying, and gaming. 
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>The Astromap</strong></h2>
					<p>					
Q3 2021 🛰 - Pre-launch Season<br>

	⁃	Launch Holaplex store with auctions on selected mints<br>
	⁃	Become verified on Digital Eyes for secondary marketplace<br>
	⁃	Presale: Weekly 25 occupants available on Digital Eyes<br>
	⁃	First airdrop to presale holders<br>
	⁃	First community contest<br>
	⁃	New roles implemented in Discord for early adopters, contest winners, the community and contest<br>

	<br><br>
Q4 2021 🛰 - Launch Season<br>

	⁃	Open HUB enlistment for verified Continuum holders<br>
	⁃	Launch the official website<br>
	⁃	Launch (Mint) day of 250 new occupants 🚀 (WIP🛠️)<br>
	⁃	Magic Eden as secondary marketplace <br>
	⁃	Second airdrop for verified Continuum HUB members<br>
	⁃	Community contests, collaborations, and giveaways!!! <br>

	<br><br>
	Q1-Q2 2022 🛰 - Expeditions and Expansion<br>

	⁃	First expedition broadcasted from the HUB in Discord<br>
	⁃	Implementation of “The Armory” (Items collected during expeditions are readied for gamification elements)
	⁃	Armor will be the first modular pieces available at The Armory. The varying pieces are *seasonal*.<br>
	⁃	TBA 📣<br>
				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/astromap.png" alt="astromap" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
	<p class="editor-link" style="text-align: center;">
		<h2><strong>Our Team</strong></h2><br>-Head Squadron-<br></a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
			<div class="blurb">{{ person.blurb }}</div>
		</li>
	{% endfor %}
</ul>
	</div>
		</div>
</section>

	</div>
