.contact-box {
	max-width: 750px;
	margin: 0 auto;

	form {
		width: 100%;
	}

	p {
		margin: 0;
		color: rgb(209, 209, 209);
		
	}

	.contact-form, .contact-details  {
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
		margin: 0;
	}

	.contact-details {
		font-size: .9em;
	}
}
