.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #231f30;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #B3B3B3;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	margin: 25px auto;

.hero-hover {
		max-width: 85rem;
		margin: 65px auto 0 auto;
		padding: auto 125px;
		}

.header-wip	{
	color: #fff;
	font-size: 4.1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header-wip	{font-size: 2.1em}

	.hero-hover {
		padding: auto;
		margin: auto 15px;
	}
}

.header-img {
	margin: -15px 10px;
	padding: 0;

}

	p {
		color: #fff;
	}
}

.waves {
	position:relative;
	width: 100%;
	height:15vmin;
	margin-bottom:-7px; /*Fix for safari gap*/
	min-height:100px;
	max-height:200px;
  }

  /* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
	animation-delay: -3s;
	animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
  }
  @keyframes move-forever {
	0% {
	 transform: translate3d(-90px,0,0);
	}
	100% { 
	  transform: translate3d(85px,0,0);
	}
  }
