.text-container {
	max-width: 750px;
	margin: 0 auto;
}

.landingtext-container {
	max-width: 750px;
	vertical-align: middle;
	line-height: 75px;
	margin: 15 auto;
	padding: 85px 75px;
	text-align: left;
	}

.border-text {
	border: .5px solid #403e41;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;

	&.max-container {
		max-width: 100%;
		padding: 0;
	}
}

@media screen and (min-width: 80rem) {
.hover-section {
	max-width: 60rem;
	grid-column: 1;
	grid-row: 1;
	margin: 0 auto;
	padding: 20px 50px;
	}
}

.border-img {
	border: .5px solid #403e41;
}

@media screen and (min-width: 60rem) {
.grid-flex {
		max-width: 1400px;
		display: grid;
		grid-template-columns: 7fr 7fr;
		grid-template-rows: 1fr;
		gap: 35px;
		margin: 15 auto;
		position: relative;
	}

	p {
		font-size: 1.15em;
	}
}

/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
	.landingtext-container {
		min-width: 15px;
		max-height: 5%;
		font-size: 12px;
		padding: 35px;
		margin: auto;
	}

	.grid-flex {
		grid-template-rows: 10%;
		grid-template-columns: 50% 50%;
	}

}

/* Medium devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
	.grid-flex {
		row-gap: 2%;
		min-width: 50%;
		align-items: center;
		align-content: center;
	}
}

header {
	color: #f5f5f5;
	padding: 20px 0;
	background: $brand-color; /* Old browsers */
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%) no-repeat $brand-color;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		line-height: 0;

		a {
			display: inline-block;
		}

		img {
			display: block;
			width: auto;
		}
	}
}

.content {
	background: #0D0F0F;
	padding: 1px 28px 175px 28px;
	position: relative;
}

.screenshot{
	max-width: 100%;
	height: auto;
	padding: 20px 0 20px 0;
	position: relative;
}

section {
	padding: 100px 0;
	background: #0D0F0F;
	color: rgb(209, 209, 209);
}

.dramatic-spacing {
	padding: 200px 0;
}
    

section + section {
	padding-top: 0;
}

.subtext {
	margin-top: 10px;
	text-align: center;
}

.project-text {
	text-align: center;
}

.cta {
	margin: 60px 0;
}

.page h2 {
	text-align: center;
}

blockquote {
	padding: 18px 25px;
	margin: 0;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;

	.author {
		display: block;
		font-weight: bold;
		margin: 10px 0 0 0;
		font-size: .85em;
		font-style: normal;
	}

	p {
		display: inline;
	}
}

blockquote:before {
	color: #333;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

.square-image {
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin: 25px auto 0 auto;
	position: relative;
	border-radius: 200px;

	img {
		position: absolute;
		left: -1000%;
		right: -1000%;
		top: -1000%;
		bottom: -1000%;
		margin: auto;
		width: 300px;
	}
}

.page {
	margin-bottom: 0;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}

.editor-link {
 	display: none;
	margin-top: 0;
	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}
