---
layout: page
---

<div class="text-container">
	{% assign codex = site.pages | where: "path", "codex/index.html" | first %}

	{% if codex.title %}
		<h2>{{ codex.title }}</h2>
	{% endif %}

	{% if codex.description %}
		<p class="subtext">{{ codex.description }}</p>
	{% endif %}

	<div class="center-text">
		<span class="codex-filter cross"><a href="{{ site.baseurl }}/codex/">{{ page.title }}</a></span>
	</div>

	<ul class="codex-posts">
		{% include list-posts.html posts=page.posts %}
	</ul>
</div>
